# Data Types
The objective of this notebook is to walk through different sorts of datatypes that are built into python. In this notebook I will briefly describe both basic data types (int, float, string, decimal, complex and boolean) as well as collection data types such as list, tuple, dictionaries and sets. By the end of this tutorial, we will be familiar with what object of these types look like and how to represent them. 

**Source: Programming in Python 3- A Complete Introduction to the Python Language by Mark Summerfield**

## Following are the basic data types buit into python 

  * **int**: integers or ints, are positive or negative whole numbers with no decimal point

  * **float**: float represent real numbers and are written with a decimal point dividing the integer and fractional parts

  * **string**:String is a sequence of Unicode characters

  * **Decimal**:Decimal instances can be constructed from integrs, strings, floats, or tuples. Construction from an integer or a float performs an exact conversion of the value of that integer or float.Decimal numbers include special values such as NaN which stands for “Not a number”, positive and negative Infinity , and -0 

  * **Complex**:The complex data type is an immutable type that holds a pair of floats, one representing the real part and the other the imaginary part of a complex number. Literal complex numbers are written with the real and imaginary parts joined by a (+) or (-) sign, and with the imaginary part followed by a j

# Integer
* int: integers or ints, are positive or negative whole numbers with no decimal point

In [88]:
# when no argument is passed in int function it returns 0 as o/p
print(int()) 

# Returns an integer value if a decimal argument is passed within int function
print(int(2.5))

0
2

# Floats
 * Float: float types in pythons are designated to floating-point numbers. It represent real numbers and are written with a decimal point dividing the integer and fractional parts.

In [89]:
# when float function is used with no argument it return 0.0 as output
print(float()) 

# when float function is used with decimal or floating point argument it produces copy of the argument as output
print(float(1.1)) 

# Returns a float value if an integer argument is passed within float function.
float(4)

0.0
1.1

4.0

## MATH MODULE FUNCTIONS & CONSTANTS 
This module grants access to the mathematical functions that are applicable to all floating point numbers

In [90]:
import math

The following functions are provided by math module. Except when explicitly noted otherwise, all return values are floats.

 * math.**floor**(x) : Returns ⎣x⎦ , i.e., the largest integer less than or equal to x as an int

In [91]:
# Example
math.floor(3.66) # Returns the largest integer less than or equal to 3.66 as an int

3

   * math.**ceil**(x) :Returns the ceiling of x , i.e., the smallest integer greater than or equal to x as an int

In [92]:
# Example: 
print(math.ceil(3.66)) # Returns the smallest integer greater than or equal to 3.66 as an int

4

 * math.**log10**(x) : Return the base-10 logarithm of x.

In [93]:
# Example
math.log10(4) # Return the base-10 logarithm of 4

0.6020599913279624

 * math.**log2**(x) : Return the base-2 logarithm of x.

In [94]:
# Example
math.log2(4) #Return the base-2 logarithm of 4

2.0

 * math.**fabs**(x) : Return the absolute value of x as a float

In [95]:
# Example
math.fabs(-9) #Returns | -9 |, i.e., the absolute value of -9 as a float

9.0

 * math.**factorial**(x) :Return x factorial as an integer. Raises ValueError if x is not integral or is negative.

In [96]:
# Example
math.factorial(4) #Returns x! i.g. 1*2*3*4 = 24 (It returns product indicated by exclamation sign)

24

 * math.**fmod**(x, y) : Produces the modulus (remainder) of dividing x by y. It returns float type output

In [97]:
math.fmod(5, 2)#Produces the modulus (remainder) of dividing 5 by 2

1.0

 * math.**trunc**(x): Returns the whole part of x as an int; same as int(x)

In [98]:
math.trunc(4.5) #Returns the whole part of 4.5 as an int; same as int(x)

4

# Complex 
   * It is an immutable data type which holds a pair of float one representing real part and other as an imaginary part of complex number.

In [99]:
# When no argument is passed within complex type function, it returns imaginary part as an output
complex()

0j

In [100]:
complex(1)

(1+0j)

# Decimal
 * Decimal instances can be constructed from integrs, strings, floats, or tuples. Construction from an integer or a float performs an exact conversion of the value of that integer or float.Decimal numbers include special values such as NaN which stands for “Not a number”, positive and negative Infinity , and -0

In [101]:
# Decimal Datatype (Difference between Decimal & Float)
import decimal

#This function can take an integer or a string argument—but not a float, since floats are held inexactly whereas decimals are represented exactly.
decimal.Decimal('2.1')

Decimal('2.1')

In [102]:
float(2.1)

2.1

# String
 * Strings are represented by the immutable str data type which holds a sequence of Unicode characters. A string in Python can contain as many characters as we wish.

In [103]:
#Generates an empty string when no argument is passed in the string function
str()

''

 * Strings can be concatenated in two ways. One it can be concatenated by using (+) and secondly, it can be concatenated by passing strings in the parenthesis.

In [104]:
# Ways to concatenate strings:

#1)
t = "This is not the best way to join two long strings " + \
"together since it relies on ugly newline escaping"
print(t)

This is not the best way to join two long strings together since it relies on ugly newline escaping

In [105]:
#2)
s = ("This is a better way to join two long strings "
"together; it relies on string literal concatenation.")
print(s)

This is a better way to join two long strings together; it relies on string literal concatenation.

# Slicing and Striding

* Extarcting individual character from string is known as slicing
* Index position in string goes from 0 to length of the string
* It is also possible to use negative index positions which counts from the last character back toward the first. It starts from(-1) and gives the last character of the string
* Accessing an out-of-range index (or any index in an empty string) will cause an IndexError exception to be raise

- The slice operator has three syntaxes:
  - seq[start] 
  - seq[start:end]
  - seq[start:end:step]
* Here (seq) could be a list, tuple or string

* Following are the  few examples of slicing:

In [106]:
#seq[start] 
s= 'LIGHTNING AND THUNDERING'
s[0]

'L'

In [107]:
#seq[start:end]
s[:]  # This will return the len of the string ([:] Shows default start to end character)

'LIGHTNING AND THUNDERING'

In [108]:
# extracting slice of characters from a string
s[14:]

'THUNDERING'

In [109]:
s[10:13]

'AND'

In [110]:
s[:9]

'LIGHTNING'

## STRING STRIDING
* Third number in a slice specifies the stride. 
* If omitted, the default is 1 and return every character in the requested range. 
* To return every kth letter, set the stride to k. Negative values of k reverse the string.

**SYNTAX:** 
**seq[start:end:step]**

In [111]:
s= 'LIGHTNING AND THUNDERING'
s[::-2] #starts at the last character and extracts every second character counting toward the start of the string

'GIENH N NNHI'

In [112]:
s[::3] #starts at the first character and extracts every third character counting toward the end.

'LHI DHDI'

## String Operators and Methods

 * S.**capitalize**(): Returns a copy of str s with the first letter capitalized

In [113]:
New = "python is an easy to learn lanuage" #Returns a copy of str NEW with the first letter capitalized
New.capitalize()

'Python is an easy to learn lanuage'

  * S.**title**(): Returns a copy of s where the first letter of each word is uppercased and all other letters are lowercased

In [114]:
New.title() # returns a copy of str NEW with the first letter capital of every word in the string

'Python Is An Easy To Learn Lanuage'

 * S.**count**(t,start, end): Returns the number of occurrences of str t in str s (or in the start:end slice of s)

In [115]:
#Syntax s.count(t,start, end)
New.count('a', 0,) #Returns the number of occurrences of a in str NEW (or in the start:end slice of new)

5

* s.**find**(t,start, end): # Resturns the leftmost positon of first argument in string s.

In [116]:
# Examples-
New = "python is an easy to learn lanuage"
New.find('e',0,) # Resturns the leftmost positon of e in string New.
New.index('e',0,) # Return the same resuts

13

* s.**rfind**(t,start, end): # Returns the rightmost positon of first argument in string s

In [117]:
New.rfind('e',0,)  # Returns the rightmost postion of e in string New
New.rindex('e',0,) # Return the same resuts

33

* str.**isalnum**(): Return ture if string is non empty and every characters in the string is alpha numeric

In [118]:
# Example-
A =  'abc1'
A.isalnum() #  Returned ture because A holds an alphanumeric value

True

* str.**isalpha**() : Returns True if str is nonempty and every character in str of alphabets

In [119]:
#Example-

New = "pythonisaneasytolearnlanuage1"
New.isalpha() #Returns True if str is nonempty and every character in str of alphabets

False

In [120]:
New = "python is an easy to learn lanuage"
New.isalpha() # It returns false because string contains spaces

False

* s.**isprintable**(): Returns True if s is empty or if every character in s is considered to be printable, including space, but not newline

In [121]:
# Example-
New.isprintable() # Returns True if s is empty or if every character in s is considered to be printable, including space, but not newline

True

* s.**upper**(): Return the entire copy of string in uppercase letters

In [122]:
# Example-
New.upper() # return the entire copy of string in uppercase letters

'PYTHON IS AN EASY TO LEARN LANUAGE'

* s.**lower**(): Return the entire copy of string in lowercase letters

In [123]:
# Example-
New.lower() # return the entire copy of string in lowercase letters

'python is an easy to learn lanuage'

* s.**replace**(t,u, n): Returns a copy of s with every (or a maximum of n if given) occurrences of str t replaced with str u

In [124]:
#Example-
New.replace('sql', 'python',)

'python is an easy to learn lanuage'

# Boolean
* Boolean data type holds two values i.e- True or False 
* If boolean values are used in arithmetic operations, their integer values (1 and 0 for True and False) will be used to return an integer results
* Follwing are the few examples of Boolean Data types.

In [125]:
# If no argument is passed within boolean function it will return False 
bool()

False

In [126]:
bool(1)

True

In [127]:
#If boolean values are used in arithmetic operations, their integer values (1 and 0 for True and False) will be used to return an integer result:
x= True
y= False
Z=1
x+Z

2

In [128]:
x-y

1

In [129]:
x*y

0

# Collection Data Types

Till now we have learned about Python's most important fundamental data types. Now we will proceed by extending our programming options by learning  how to gather different data items together using collection data types. In this section we will cover sequence types such as lists, tuples, sets and mapping types such as dictionaries in depth. In addtition to this, we will also cover in detail the advanced features of these collection data type such as named tuples, list comprehensions, sets comprehensions, what are set methods and operators look like and etc. so here we go.

## Sequence Types

## Tuples

* It's an ordered sequence of zero or more object refrences.Tuples are immutable and are represented with parentheses.
* It can be created with function tuple().
* It possess similar indexing (zero indexing) as strings. The only difference is string has characters at every postion while tuple has object refrence at each position

In [130]:
# Let's extract the values from 2dn to -1th postion.
eyes = ("brown", "hazel", "amber", "green", "blue", "gray") 
eyes[2:-1]

('amber', 'green', 'blue')

Below is an example of nested two tuples inside another tuple. Nested collections to any level of depth can be created like this without any difficulty or formality. The slice operator [] can be applied to slice, with as many used as necessary. 

Let's work on this example piece by piece, starting with objects[2] which gives us the third item in the tuple (since the first item has index 0), which is itself a tuple,("nuts", (9, "Apple"), "xyz"). The expression objects[2][1] gives us the second item in the objects[2] tuple, which is again a tuple, (9, "Apple"). And
objects[2][1][1] gives us the second item in this tuple, which is the string "Apple".
Lastly, objects[2][1][1][2] gives us the third item (character) in the string, that
is, "p".

In [131]:
objects = (3, -10.5, ("nuts", (9, "Apple"), "xyz"))
objects[2][1][1][2]

'p'

# Named Tuples

Named tuple functions like normal tuple data type. What it adds is the ability to refer items in the tuple by name as well as index positons and this allows us to create aggregates of data items.

## Example1(Sales)
* The **collections** module provides the **namedtuple()** function. This function is used to create custom tuple data types.
* The first argument to collections.namedtuple() is the name of the custom tuple data type that we want to be created. 
* The second argument is a string of space separated names, one for each item that our custom tuples will take. 
* The first argument, and the names in the second argument, must all be valid Python identifiers.
* The function returns a custom class (data type) that can be used to create named tuples

In this example we have created a list of two Sale items, that is, of two custom tuples. We
can refer to items in the tuples using index positions—for example, the price of
the first sale item is sales[0][-1] (i.e., 7.99)—but we can also use names, which
makes things easy to refer. Then we will loop through all the items in sales list to get the total price of quantities.

In [132]:
import collections
Sale = collections.namedtuple("Sale","productid customerid date quantity price")
print(type(Sale))
sales = []
sales.append(Sale(432, 921, "2008-09-14", 3, 7.99))
sales.append(Sale(419, 874, "2008-09-15", 1, 18.49))
print(sales)
total = 0
for i in sales:
    total += i.quantity * i.price
    print("Total ${0:.2f}".format(total))
    print(round(total,2))
    print("Total ${0:.2f}")

<class 'type'>
[Sale(productid=432, customerid=921, date='2008-09-14', quantity=3, price=7.99), Sale(productid=419, customerid=874, date='2008-09-15', quantity=1, price=18.49)]
Total $23.97
23.97
Total ${0:.2f}
Total $42.46
42.46
Total ${0:.2f}

## Example2 (Student Marks)

* The first argument to collections.namedtuple() is the name of the custom tuple data type that we want to be created. 
* The second argument is a string of spaceseparated names, one for each item that our custom tuples will take. 
* The first argument, and the names in the second argument, must all be valid Python identifiers.
* The function returns a custom class (data type) that can be used to create named tuples

In [133]:
# Assignemd names to refer items in the stuents list
Student_marks= collections.namedtuple("Student_marks", "name english maths science") 
Student_list= [] 

Student_list.append(Student_marks("James",50,60,75))
Student_list.append(Student_marks("Maria", 60,90,67))
Student_list.append(Student_marks("Stuart",80,80,80))
print(Student_list)

[Student_marks(name='James', english=50, maths=60, science=75), Student_marks(name='Maria', english=60, maths=90, science=67), Student_marks(name='Stuart', english=80, maths=80, science=80)]

In [134]:
total_marks =0 
for i in Student_list:
    total_marks += (i.english + i.maths + i.science)
    print(round(total_marks))

185
402
642

# Lists

* It is an ordered sequence of zeros or more object refrence. 
* It allows same slicing and striding syntax as strings and tuples.
* Unlike strings and tuples list are mutable. It allows us to add, delete, replace, and the modify the items present in th list.
* We can use list() function to create a list. Also it allows conversion of different datatypes to list.
* List can also be created without calling list() function, just by passing comma separeted values in [].
* It has ability to hold all kind of data type[int,"string", float] including collection data types such as lists and tuples.

Let's see few example of list sclicing

In [135]:
#Example:
L = [-17.5, "kilo", 49, "V", ["ram", 5, "echo"], 7]
# using slicing operator:
L[0] # Returns the item present at the zeroth index postion

-17.5

In [136]:
L[0]==L[-6]== 49 # It returns false L[0] and L[-6] doesn't hold the value equal to 49.

False

In [137]:
L[1]== L[-5]== "kilo"  # item kilo hold the same idex position as L[1] and [-5]

True

* Although we can use the slice operator to access items in a list, in some situations we want to take two or more pieces of a list in one go.
* This can be done by sequence unpacking operator * (asterisk). Any iterable (list & tuple) can be unpacked using 
* When used with two or more variables on the left-hand side of an assignment,one of which is preceded by (*),items are assigned to the variables, with all those left over assigned to the starred variable.

In [138]:
#Here are some examples:
A, *B= [1,2,3,4,5,6] # Sequence unpacking using *
print(A,B)

1 [2, 3, 4, 5, 6]

In [139]:
#Split a string into a list where each word is a list item
first, *mid, last = "Charles Philip Arthur George Windsor".split() 
print(first,mid,last)

Charles ['Philip', 'Arthur', 'George'] Windsor

## List Methods

 * L.**append**(x) : Appends item x to the end of list L

In [140]:
# Example-
L=[1,3,4,5,6,7,]
x= "toy"
L.append(x)
print(L)

[1, 3, 4, 5, 6, 7, 'toy']

 * L.**count**(x): Returns the number of times item x occurs in list L

In [141]:
# Example-
list1 = [1, 1, 1, 2, 3, 2, 1]  
print(list1.count(1))

4

 * L.**index**(x,start,end): #Returns the index position of the leftmost occurrence of item x in list L

In [142]:
#Example-
list1 = [1, 1, 1, 2, 3, 2, 1]  
list1.index(2,3,6)

3

 * L.**insert**(i, x): It will insert the new item at the mentioned index positon. in this case i=4 and x= 10.

In [143]:
# Example-
list1 = [ 1, 2, 3, 4, 5, 6, 7 ]
list1.insert(3, 2)
print(list1)

[1, 2, 3, 2, 4, 5, 6, 7]

 * L.**pop**():  It removes the right most item of the list

In [144]:
#Example-
list1 = [ 1, 2, 3, 4, 5, 6, 7,8 ]
list1.pop() 
print(list1)

[1, 2, 3, 4, 5, 6, 7]

 * L.**pop**(i): It removes the item from the list at the position index. In this case i=2

In [145]:
#Example-
list1 = [ 1, 2, 3, 4, 5, 6, 7 ]
list1.pop(2) 
print(list1)

[1, 2, 4, 5, 6, 7]

 * L.**remove**(x): Removes the leftmost occurrence of item x from list L

In [146]:
#Example-
list1 = [ 1,1, 2, 3, 4, 5, 6, 7 ]
list1.remove(1)
print(list1)

[1, 2, 3, 4, 5, 6, 7]

 * L.**reverse**(): Reverse the order of items i the list

In [147]:
#Example
list1 = [ 1,1, 2, 3, 4, 5, 6, 7 ]
list1.reverse()
print(list1)

[7, 6, 5, 4, 3, 2, 1, 1]

 * L.**sort**(): By default it sorts the list in the ascending order. To sort the list in descending order give (reverse=True) as argument

In [148]:
list2 = [ 10,1, 2, 3, 4, 5, 6, 7 ]
list2.sort()
print(list2)

# to sort list in descending order give (reverse=True) as argument
list2.sort(reverse=True)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 10]
[10, 7, 6, 5, 4, 3, 2, 1]

## List Comprehensions

It consist of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element and where condition can filter out unwanted items. This is a better way of looping items in the list.

**Syntax:** 

    [expression for item in iterable]
    [expression for item in iterable if condition]

In [149]:
# EXAMPLE1:

# Adding 5 to each element using list comprehension:
Z = [[181, 80, 44], [177, 70, 43], [160, 60, 38], [154, 54, 37], [166, 65, 40],
     [190, 90, 47], [175, 64, 39],
     [177, 70, 40], [159, 55, 37], [171, 75, 42], [181, 85,43]]
# This loop will iterate over every sublist in Z and will add 5 to the sublist's element present at 0th, 1st and 2nd postion in the list Z)
# Z is an iterable
# i is an iterator

res = [[i[0]+5, i[1]*5, i[2]/5] for i in Z] 
print(res)

[[186, 400, 8.8], [182, 350, 8.6], [165, 300, 7.6], [159, 270, 7.4], [171, 325, 8.0], [195, 450, 9.4], [180, 320, 7.8], [182, 350, 8.0], [164, 275, 7.4], [176, 375, 8.4], [186, 425, 8.6]]

In [150]:
# EXAMPLE2:

# Get the list of all numbers divisible by 2 and 3 in the range of 50

# this loop wil iterate over iterables (range(50)) and will return the list of numbers that are divisible by 2 and 3
Res = [i for i in range(50) if i%2==0 and  i%3==0]
print(Res)

[0, 6, 12, 18, 24, 30, 36, 42, 48]

# Set Types

Python provides two built-in set types: the mutable set type and the immutable frozenset. When iterated, set types provide their items in an arbitrary order. Only hashable objects may be added to a set. Hashable objects are objects which have a __hash__() special method whose return value is always the same throughout the object’s lifetime, and which can be compared for equality using the __eq__() special method. (Special methods—methods whose name begins and ends with two underscores—are covered in Chapter 6.) All the built-in immutable data types, such as float, frozenset, int, str, and tuple, are hashable and can be added to sets. The built-in mutable data types, such as dict, list, and set, are not hashable since their hash value changes depending on the items they contain so they cannot be added to sets.

## Sets

* Set is an unordered collection of zeros or more object reference that refer to  hasable objects.
* Sets are mutable, but they are unordered so they do not possess index postion. Therefore sets can not be slice or stride.
* Sets can be created by using set() or by passing comma-separated values in the {} .

* **Use Case 1**- **To Remove Duplicate items from list**
 * Set hold unique values. Therefore, it is ofetn used to remove duplicates in the sequence data types such as list and tuples.

In [151]:
#Example
Y = ['male', 'male', 'female', 'female', 'male', 'male', 'female', 'female', 'trasngender', 'A','A', 'B', 'B',
     'female', 'male', 'male']

# to get the unique collection of items
Y1 = set(Y)
print(Y1)

Grnder_Count = [{i: Y.count(i)} for i in Y1]
print(Grnder_Count)

{'trasngender', 'A', 'female', 'B', 'male'}
[{'trasngender': 1}, {'A': 2}, {'female': 5}, {'B': 2}, {'male': 6}]

* **Use Case 2**- **To Eliminate Unwanted item form list**

 * Sets are also used to eliminate unwanted items. For example, if we have a list of filenames but don’t want any makefiles included (perhaps because they are generated rather than handwritten), we might write:

## Set Methods and Operators

 *  s.**add**(x):Adds item x to set s if it is not already in s

In [152]:
# Example-
Gender = {'male', 'female', 'B', 'A', 'trasngender'}
Gender.add('Gay')
print(Gender)

{'trasngender', 'A', 'Gay', 'female', 'B', 'male'}

 *  s.**clear**(): Removes all the items from set s

In [153]:
# Example-
Gender = {'male', 'female', 'B', 'A', 'trasngender'}
Gender.clear()
print(Gender)

set()

 * s.**copy**() : #Returns a copy of s❄

In [154]:
#Example-
Gender = {'male', 'female', 'B', 'A', 'trasngender'}
Gender.copy()

{'A', 'B', 'female', 'male', 'trasngender'}

 * s.**difference**(t): Returns a new set that has every item that is in set t that is not in set Gender

In [155]:
#Example-  
t ={'male', 'female', 'B', 'A', 'trasngender','Q', 'R', 'S'}
Gender = {'male', 'female', 'B', 'A', 'trasngender'}
t.difference(Gender)

{'Q', 'R', 'S'}

 * s.**discard**(x): It removes item x from the given set

In [156]:
#Example- 
Gender = {'male', 'female', 'B', 'A', 'trasngender'}
Gender.discard('female')
print(Gender)

{'trasngender', 'A', 'B', 'male'}

 * s.**intersection**(t): Returns a new set of common items present in both sets

In [157]:
# Example-
A = {1,2,3,4,5,6,7,}
B= {3,4,5,6,7,8,9,10}
A.intersection(B)

{3, 4, 5, 6, 7}

 * s.**isdisjoint**(t) :Returns True if sets A and B have no items in common

In [158]:
# Example-
A = {1,2,3,4,5,6,7,}
B= {3,4,5,6,7,8,9,10}
A.isdisjoint(B)

False

## Set Comprehensions

* Sets can also be created by using set comprehension.
* It works same as list, the only difference is that it is an expression and a loop with an optimal condition enclosed in { } braces.
* Like list it also supports two syntax:

{expression for item in iterable}
{expression for item in iterable if condition}

In [159]:
# EXAMPLE2:
# Get the list of all numbers divisible by 5 in the range of 100
# this loop wil iterate over iterables (range(100)) and will return the list of numbers that are divisible by 5
Res = {i for i in range(100) if i%5==0}
print(Res)

{0, 65, 35, 5, 70, 40, 10, 75, 45, 15, 80, 50, 20, 85, 55, 25, 90, 60, 30, 95}

## Frozen Sets

* Frozen set is just an immutable version of a set object. 
* While elements of a set can be modified at any time, elements of frozen set remains the same after creation.
* As a result, frozen sets can be used as key in Dictionary or as element of another set.

## Examples of frozen tuples-

In [160]:
# tuple of vowels
vowels = ('a', 'e', 'i', 'o', 'u')
fSet = frozenset(vowels)
print('The frozen set is:', fSet)
print('The empty frozen set is:', frozenset()) #If no parameters are passed, it returns an empty frozenset.

The frozen set is: frozenset({'u', 'a', 'i', 'e', 'o'})
The empty frozen set is: frozenset()

In [161]:
#When a  dictionary is used as an iterable for a frozen set. It only takes key of the dictionary to create the set.
person = {"name": "John", "age": 23, "sex": "male"}
fSet = frozenset(person)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'age', 'name', 'sex'})

# Mapping Types

Mappings are the collection of key and value items  and provide the method to retrieve the items and their keys & vales.  hen it is iterated unordered mapping types provide their items in an arbitrary order.

# Dictionaries

* It is an unordered collection of key-value pair items enclosed in braces {}.
* Dictionaries are mutable, so we caneasily add or remove items, 
* Since they are unordered they have no notion of index position and so cannot be sliced or strided
* Dictionary keys should always be unique.

In [162]:
#Example:

d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}
# To access dictionary items, keys are used:
d["root"]

18

In [163]:
d[21]

'venus'

In [164]:
# Repalcing vales in dictonaries:
d["root"] = 19
print(d)

{'root': 19, 'blue': [75, 'R', 2], 21: 'venus', -14: None, 'mars': 'rover', (4, 11): 18, 0: 45}

In [165]:
# Remove items from dict SYNTAX - dict.pop()
d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}
d.pop(-14)
print(d)
len(d)

{'root': 18, 'blue': [75, 'R', 2], 21: 'venus', 'mars': 'rover', (4, 11): 18, 0: 45}

6

# Dictionary Methods

 * d.**copy**(): Removes all the items from dict

In [166]:
#Example
d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}
# Removes all the items from dict
d.clear()
print(d)

{}

 * d.**copy**(): Returns a copy of dict

In [167]:
# Example
# Returns a copy of dict
d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}
d.copy()

{'root': 18,
 'blue': [75, 'R', 2],
 21: 'venus',
 -14: None,
 'mars': 'rover',
 (4, 11): 18,
 0: 45}

 * d.**get**(k): Returns key k’s associated value, or None if k isn’t in dict d

In [168]:
# Example
d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}
d.get("root")

18

 * d.**items**(): Returns a view★ of all the (key, value) pairs in dict d

In [169]:
#Example
d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}
d.items()

dict_items([('root', 18), ('blue', [75, 'R', 2]), (21, 'venus'), (-14, None), ('mars', 'rover'), ((4, 11), 18), (0, 45)])

 * d.**keys**(): Returns the view of all the keys present in the dict

In [170]:
# Example
d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}
d.keys()

dict_keys(['root', 'blue', 21, -14, 'mars', (4, 11), 0])

 * d.**values**(): Returns the view of all values in the dict

In [171]:
# Example  
d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}
d.values()

dict_values([18, [75, 'R', 2], 'venus', None, 'rover', 18, 45])

# Dictionary Comprehensions

Dictionary Comprehension is an expression and a loop with optimal conditons enclosed withing braces {}.Like list and set comprehension it supports two syntaxes:

        {keyexpression: valueexpression for key, value in iterable}
        
        {keyexpression: valueexpression for key, value in iterable if condition}

In [172]:
# Example:
# Create a dictornary of squared values and keys with in the range of 10
dict = {i:i**2 for i in range(10)}   #i:i**2 represents (key:value)
print(dict)
print(type(dict))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
<class 'dict'>

# Default Dictionaries

The only difference between dict and default dict is in the way it handles missing keys, in all other repects it behaves identically to dict. For example while retrieving dict, when we  use a non-existent (missing key) it throws a KeyError. For example, if we have a dictionary d which does not have an item with key m, the code x = d[m] will raise a KeyError exception. But if d is a suitably created default dictionary, if an item with key m is in the default dictionary, the corresponding value is returned the same as for a dictionary—but if m is not a
key in the default dictionary, a new item with key m is created with a default value, and the newly created item’s value is returned.

In [173]:
#For example

dict = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}
dict["root"]

18

In [174]:
# Suppose if we look for key that is not present in the dictionary. It will throw a KeyError
dict["branch"]

KeyError: 'branch'

In [ ]:
# if we creat a default dictionary it won't generate error even if a key is missing in the dict.
dict = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}
import collections
dict =collections.defaultdict(int)
dict["branch"]

# Ordered Dictionary

It is a dictionary subclass that remembers the order in which its contents are added, supporting the usual dict methods. For example, If a new entry overwrites an existing entry, the original insertion position is left unchanged. Deleting an entry and reinserting it will move it to the end.

In [ ]:
# Unordered Dictionary:
d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}
for k,v in d.items():
    print (k,v)

In [ ]:
# Ordered dictionary:
dict = collections.OrderedDict()
dict = {1:2,3:4,5:6,6:7,66:77}
dict.items()

In [ ]:
dict[1]=2
dict[3]=4
dict[5]=6
dict[6]=7
dict[66]=77
dict.items()

Thats how I complete my notebook for python data types and hope it helps  you to get an understanding of basic and collection data types and its usages.